<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Belly Dance Basim</title>
</head>
<body>
    <a href= "/"><img style="float:left;" src=../static/img/logo.PNG height="95" width="220"/></a>
    <h1>About
    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "about">About</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/gallery">Gallery</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href= "https://www.facebook.com/Bellydancebasim/" target="_blank"><img src= ../static/img/fb.png height="28" width="28"/></a>
    </h1>

    <p class="img_quote_abt"> 
        <br style = “line-height:500;”>
        <br style = “line-height:500;”>
        <br style = “line-height:500;”>
        <br style = “line-height:500;”>
        I am overjoyed to give my students my all. I came to dance in my late 30’s and feel I was given a second
        <br>chance to live my dreams when I found Belly Dance. I want to share that joy with you.
        <br>
        <br>I was grateful for teachers who not only taught Belly Dance movement, but also Middle Eastern history,
        <br>culture, and etiquette. It is important to me to share that knowledge and to commit myself to
        <br>continuing education. I have much to learn. When we study all aspects of this artform and its origins,
        <br>we offer our respect and gratitude for the culture which provided a space and a foundation where we can 
        <br>express ourselves through this art form.
        <br>
        <br>I prefer to teach dance in the context of anatomy, muscle engagement, music engagement, and
        <br>soul’s content. When these elements align, we keep our bodies present and our minds free 
        <br>to really find where your art lives and breathes.
        <br>
        <br>I have performed as a soloist, within a duet, and as a part of a troupe. Through these journeys
        <br> I was able to experience performing in festivals, restaurants, theaters, and other venues. 
        <br>
        <br>I am honored to share I have been recognized as an award winning dancer. 
        <br>Some of my awards: as a soloist (1st Place and People’s Choice Award, Belly Dancer USA,
        <br> Goddess Category, 2017),  as part of a duet (2nd place Duet Belly Dancer USA 2016),
        <br>and as part of a troupe (2nd place Troupe, Belly Dancer USA, 2016). 
        <br>
        <br>The most important part of dance for me is not awards or performances, but the time with others where 
        <br>we accept each other as we are and where we are now. I am not the most famous or talented 
        <br>dancer….far from it. I am committed to my students and committed to providing a safe, enriching, and 
        <br>fruitful experience where each dancer can experience and grow within their comfort space. 
    </p>

    <h4> 
        <div class="img_blur_about"></div>
    </h4>




</body>
</html>