<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Belly Dance Basim</title>
</head>
<body>
    <a href= "/"><img style="float:left;" src=../static/img/logo.PNG height="95" width="220"/></a>
    <h1>Classes
    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "about">About</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/gallery">Gallery</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href= "https://www.facebook.com/Bellydancebasim/" target="_blank"><img src= ../static/img/fb.png height="28" width="28"/></a>
    </h1>

    <div class="classes_box">
        <p class="classes_title">
            Location
        </p>
        <p class="classes_info">
            Merced County Multicultural Arts Center 645 W Main st. Merced, CA 
        </p>
    </div>

    <div class="classes_box">
        <p class="classes_title">
            Times
        </p>
        <p class="classes_info">
            Every Tuesday evening 6:15-7:30
            <br>
            <br>Classes begin August 9th at 6:15-7:30 
        </p>
    </div>

    <div class="classes_box">
        <p class="classes_title">
            Cost
        </p>
        <p class="classes_info">
            $45/ mo or $15 drop in, per class, due before class (cash, Venmo, or Zelle accepted)
        </p>
    </div>

    <div class="classes_box">
        <p class="classes_title">
            Documents to print and fill out
        </p>
        <p class="classes_info">
            <a href="../static/docs/BDBasim_Waiver.pdf" target="_blank">Waiver</a>
        </p>
    </div>

    <p class="classes_info">
        Bring hydration. Dress as you like and have fun with it! Also make sure you can move freely 
        <br>and comfortably in your dance class attire. Body Positivity Practiced Here!
        <br>See you soon! 
    </p>

    
    

</body>
</html>