<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Christy's Belly Dance Classes</title>
</head>
<body>
    <h1>List of Current Classes</h1>

    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact Us</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>