<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Christy's Belly Dance Classes</title>
</head>
<body>
    <h1>Belly Dance Basim
    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "about">About</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/gallery">Gallery</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href= "https://www.facebook.com/groups/bellydancebasim" target="_blank"><img src= ../static/img/fb.png height="28" width="28"/></a>
    <a href= "/"><img src= ../static/img/ig.png height="28" width="30"/></a>
    </h1>

    <div>
    <form method="POST">
        <legend>Send us an email!</legend>
            <fieldset>
                <label>Name</label> <input type="text" name="name">
                <label>Message</label> 
                    <textarea name="message"></textarea>
                <label>Email</label> <input type="text" name="email">
            </fieldset>
            <input class="btn" type="submit" id="sendEmail" value="Submit">

    </form>
    </div>

</body>
</html>