<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Christy's Belly Dance Classes</title>
</head>
<body>
    <h1>Contact Us</h1>

    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "about">About</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/gallery">Gallery</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            <tr class="social_link">
                <td>
                    <a class="nav_link" href= "https://www.facebook.com/groups/bellydancebasim" target="_blank">FB</a>
                </td>
                <td>
                    <a class="nav_link" href= "/">IG</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
    <form method="POST">
        <legend>Send us and email!</legend>
            <fieldset>
                <label>Subject</label> <input type="text" name="subject">
                <label>Your Message</label> <input type="text" name="message">
                <label>Your Email</label> <input type="text" name="email">
            </fieldset>
            <input class="btn" type="submit" id="sendEmail" value="Submit">

    </form>
    </div>

</body>
</html>