<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Christy's Belly Dance Classes</title>
</head>
<body>
    <h1>About
    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "about">About</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/gallery">Gallery</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href= "https://www.facebook.com/groups/bellydancebasim" target="_blank"><img src= ../static/img/fb.png height="28" width="28"/></a>
    <a href= "/"><img src= ../static/img/ig.png height="28" width="30"/></a>
    </h1>

    <p>
        <img class="img_blur" src= ../static/img/shimmy_fest.jpg height="700" width="700"/>
    </p>
    <p>
        <img class="img_blur" src= ../static/img/bdusa.jpg height="700" width="525"/>
    </p>
    <p>
        <img class="img_blur" src= ../static/img/bdusa_placing.jpg height="315" width="237"/>
        <img class="img_blur" src= ../static/img/sword.jpg />
    </p>
    <p>
        <img class="img_blur" src= ../static/img/jug_head.jpg height="700" width="392"/>
        <img class="img_blur" src= ../static/img/ms_bd.jpg height="700" width="525"/>
    </p>
    <p>
        <img class="img_blur" src= ../static/img/la_dance.jpg />
    </p>
    <p>
        <img class="img_blur" src= ../static/img/troupe_2.jpg height="700" width="462"/>
        <img class="img_blur" src= ../static/img/troupe.jpg height="700" width="462"/>
    </p>
    <p>
        <img class="img_blur" src= ../static/img/veil_shot.jpg height="700" width="476"/>
    </p>



</body>
</html>