<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Christy's Belly Dance Classes</title>
</head>
<body>
    <h1>Welcome to our landing page!</h1>
</body>
</html>