<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

<head>
    <title>Belly Dance Basim</title>
</head>
<body>
    <h1>Belly Dance Basim</h1>

    <table>
        <tbody>
            <tr>
                <td>
                    <a class="nav_link" href= "/">Home</a>
                </td>
                <td>
                    <a class="nav_link" href= "about">About</a>
                </td>
                <td>
                    <a class="nav_link" href= "/classes">Classes</a>
                </td>
                <td>
                    <a class="nav_link" href= "/gallery">Gallery</a>
                </td>
                <td>
                    <a class="nav_link" href= "/contact">Contact</a>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="social_link">
        <tbody>
            <tr class="social_link">
                <td class="social_link">
                    <a href= "https://www.facebook.com/groups/bellydancebasim" target="_blank"><img src= ../static/img/fb.png height="28" width="28"/></a>
                </td>
                <td class="social_link">
                    <a href= "/"><img src= ../static/img/ig.png height="28" width="30"/></a>
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>LOGO HERE</p>
    <img src= ../static/img/home_page.jpg/>
    <div class="bottom_content">
        <p class="title_line">Contact Information</p>
        <p>Christy Ann</p>
        <p>bellydancebasim@gmail.com</p>
        <p>502-856-5195</p>
        <p>Do we want another FB link?</p>
    </div>
</body>
</html>